language: node_js
node_js:
  - stable
  - 4.2.1
addons:
  code_climate:
    repo_token: b598407e64cbfff98ce8ee82924c9640b3a5ed858258e361e4f3a31495b59762
after_script:
  - npm run cover
  - codeclimate-test-reporter < coverage/lcov.info
notifications:
  email:
    on_success: always
    on_failure: always